{% extends 'mailing/base.html' %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Удаление сообщения</h1>
    </div>
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="card">
            <p class="card-text">Действительно хотите удалить сообщение: {{ object.subject }}</p>
            <div class="card-boby mt-3">
                {% csrf_token %}
            </div>
            <button class="btn btn-danger" type="submit">Удалить</button>
            <a type="button" class="btn btn-primary btn-sm border"
               href="{% url 'mailing:message_list' %}">Отменить
            </a>
        </div>
    </form>
</main>
{% endblock %}