{% extends 'mailing/base.html' %}
{% load i18n %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Сброс пароля</h1>
</div>

<p>Мы отправили вам по электронной почте инструкции по установке пароля, если учетная запись с введенным вами адресом электронной почты существует.</p>

<p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, указанный при регистрации, и проверьте папку со спамом.</p>
</main>
{% endblock %}
